.home .section-title{
    border-top: 1px solid #eee
}

blockquote {width: 90%; line-height: 22px; margin: 10px 15px 20px 0;}
.home .content-wrapper {border-top: none;}
.form, .contact-success {background: #E5E5E5;}
.home .section-title {border-top: 1px solid #eee;}
.section-title.home h1 {text-align: center; }
.section-title.home h1 span {display: block;}
.section-title.home .home_title {max-width:960px; width: 100%;margin:0 auto;}
.social_codes {clear: both; display: table; margin: 15px auto 0;}
.item-info-overlay p {font-size: 12px;}
#store-menu {
	position: absolute;
	right: 0;
	top: 0;
        margin-top: 0;
        background: #f5f5f5;
        border: 1px solid #e5e5e5;
        border-top: none;
}

#store-menu ul {
	list-style: none;
        margin: 0; padding: 0;
        float: left;
}

#store-menu ul li {
	float: left;
	display: inline;
	margin: 0 5px;
	padding: 3px 5px;
}

#merch-menu li a {
        color: green;
        font-weight: bold;
}

.social-bookmarks li.instagram a {background: url("../images/instagram.png") 0 0;}
.social-bookmarks li.instagram a:hover {background: #4c799f url("../images/instagram.png") 0 -40px;}

p.tourButton {
text-align: center;
}
p.tourButton a {
display: table;
font-size:18px;
  margin:0 auto;
  padding:15px 25px;
cursor: pointer;
background: #f96e5b;
color: #fff;
}

p.tourButton a:hover {
    background: #e25642;
}
#profile .heading{height: 80px}
#profile .heading.Shannon{height: 100px}
#profile .container{float: left}
#profile .container .info{width: 70%; float: left}
#profile .container .info p{font-size: 14px; font-family:trebuchet MS;line-height: 30px}
#profile .container img{width: 30%; float: left; position: relative; top: -10px}
#profile .heading span{float: right; width: 30%; font-family:trebuchet MS; font-size: 25px; line-height: 30px; 
    text-align: center}
#profile .heading h2{float: left; width: 70%; font-family:trebuchet MS}