<div id='profile' class='content-wrapper clear'>
    <div class='heading'>
        <h2>Christian</h2>
        <span>"Hard work <br> makes it easy"</span>
    </div>
    <div class='container'>
        <div class='info'>
            <p>
                Hi guys I'm Christian. I'm 15 and I'm a Junior at K12 International Academy (that's 11th grade).
Let's see a bit about me. I launched a kickstarter project which was funded (awesome!). 
In 2013 I directed, shot and edited a short film titled "The Spy Who Coded" Which will be integrated to SingPath an online game.
I love music and have written three mini-musicals (Mini cuz they were 15 mins long).
I play the piano, drums, guitar, base, harmonica and the accordion. But his year "2016" I've decided to learn the violin! 
It's rather cool too. 
I also enjoy making and editing movies and music in iMovie, and garageband. Ohh I have an album called RELICS on Spotify.
My sister and I, with the help of univeristy students from SMU, launched a couple of iPad/iPhone apps called Mini Musical Star in 2011 and the lastest one is called WayPastCurew in 2015. 
It is still a work in progress but If you download it you can see what we are up to!
            </p>
        </div>
        <div class='img'>
            <img src="images/Christian.jpg" width='100%' />
        </div>
    </div>
</div>
pg
