<div id='profile' class='content-wrapper clear'>
    <div class='heading'>
        <h2>Christian</h2>
        <span>"Hard work makes it easy"</span>
    </div>
    <div class='container'>
        <div class='info'>
            <p>
                Christian is 13 yrs old and attends 10th grade (Singapore Secondary 3) at K12 International School.
Christian launched a kickstarter project which was funded. In 2013 he directed, shot and edited a short film titled "The Spy Who Coded" Which will be integrated to SingPath an online game.
Christian loves music and has written three mini-musicals. 
Christian plays the piano, drums, guitar, and accordion. Christian also enjoys making and editing movies in iMovie, and garageband.
Christian and Shannon, with the help of a team of students from SMU, launched an iPad application called Mini Musical Star in 2011 through iTunes.
            </p>
        </div>
        <div class='img'>
            <img src="images/christian.PNG" width='100%' />
        </div>
    </div>
</div>
