<div id="wrapper"  class='clear'> 
	<div class="content-wrapper clear">
        <img src="images/banner1.png" width="100%" />
        <div class="section-title">
            <h1 class="title">Contact</h1>
        </div><!--END SECTION TITLE-->
        <div class="one"></div><!--END ONE-->    
        <div class="one-half only_contact">
            <h3>Send us a message</h3>
            <iframe 
        src="https://docs.google.com/forms/d/14J6Q17u3aVDA_6z_wChSo5wYrQNxsUriJOX-pAzh-e8/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                
        <!--END CONTACT FORM-->
    </div><!--END ONE-HALF--> 
    <div class="one-half last only_contact">
        <!--
		<div style="margin-top: 35px; float: right;">
		<script type="text/javascript" src="http://forms.aweber.com/form/93/970396493.js"></script>
                   </div>
        -->
    </div><!--END ONE-HALF LAST-->          
    

<script type='text/javascript'>
jQuery(document).ready(function($){
    $(".only_contact h1, .only_contact h2, .only_contact h3, .only_contact h4, .only_contact h5, .only_contact h6").addClass("title");
}); 
</script>
</div><!-- END CONTENT-WRAPPER --> 
</div><!-- END WRAPPER -->