<div id="footer">     
    <div id="footer-content">                     
        <div id="footer-top" class="clear">             
            <div class="one-fourth">
                <div id="text-4" class="widget_text">
                    <h3>About Us</h3>			
                    <div class="textwidget">We love to write new music and perform whenever we can.</div>
                </div><!--END widget wrapper-->
            </div><!--END one-fourth-->
            <div class="one-fourth">
                <div id="text-5" class="widget_text">
                    <h3>Connect With Us</h3>			
                    <div class="textwidget">       
                        <ul class='social-bookmarks'>
                            <li class='facebook'>
                                <a target="_blank" href='https://www.facebook.com/WayPastCurfewBand'>facebook</a>
                            </li>                             
                            <li class='instagram'>
                                <a target="_blank"                  href='http://instagram.com/waypastcurfew'>instagram</a>
                            </li>
                            <li class='youtube'>
                                <a target="_blank" href='http://www.youtube.com/channel/UC7UZXgP_88jCygBurZnKF1g'>youtube</a>
                            </li>           
                        </ul>
                    </div>
                </div><!--END widget wrapper-->                    
            </div><!--END one-fourth-->
        </div><!--END FOOTER-TOP-->             
        <div id="footer-bottom" class="clear">                     
            <div class="one-half">
                <div id="text-2" class="widget_text">			
                    <div class="textwidget">
                        © 2013 <a href="index.html">Way Past Curfew</a>. All rights reserved. Site by 
                        <a href="http://www.waypastcurfew.com" target="_blank">Christian and Shannon</a>.
                    </div>
                </div>                    
            </div><!--END ONE-HALF-->    
                    
            <div class="one-half text-align-right last">            
                <div id="text-3" class="widget_text">			
                    <div class="textwidget">
                        Find us on <a target="_blank" href="https://www.facebook.com/WayPastCurfewBand">Facebook</a> 
                        and <a target="_blank" href="http://www.youtube.com/channel/UC7UZXgP_88jCygBurZnKF1g">YouTube</a>.
                    </div>
                </div>                   
            </div><!--END ONE-HALF LAST-->             
        </div><!--END FOOTER-BOTTOM--> 
        </div><!--END FOOTER-CONTENT--> 
    </div><!--END FOOTER-->
