<div id="header-wrapper">     
            <div class="header clear"> 
	           <div id="store-menu"> 
 	              <div style="clear: both;"></div>       
                </div><!--END STORE MENU-->            

                <div id="logo">    
                    <!--<a href="index.html"><img src="waypastcurfew3.png" alt="Way Past Curfew" /></a> -->    
                </div><!--END LOGO-->
        
                <div id="primary-menu"> 
                    <ul id="menu-main" class="menu">
                        <li id="menu-item-31" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2 current_page_item menu-item-31"><a href="#/home">Home</a></li> 
                        <li id="menu-item-38" 
class="menu-item menu-item-type-post_type menu-item-object-page menu-item-38"><a href="#/christian">Christian</a></li>
                        <li id="menu-item-97" 
class="menu-item menu-item-type-post_type menu-item-object-page menu-item-97"><a href="#/shannon">Shannon</a></li> 		
		                  <li id="menu-item-323" 
            class="ppr-new-window ppr-nofollow menu-item menu-item-type-post_type menu-item-object-page menu-item-323"><a  href="#/calender">Calendar</a>
                        </li>
		              <li id="menu-item-124" 
                          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-124"><a href="#/contactus">Contact</a></li>
		          </ul>                
            </div><!--END PRIMARY MENU-->             
        </div><!--END HEADER--> 
    </div><!--END HEADER-WRAPPER--> 