<div>
    <img src="images/banner1.png" width="100%" />
    <div class="section-title home">
	<div class="home_title">
        <h1 class="title">Way Past Curfew <span>Song Writers. Producers. Performers.</span></h1>
		<div class="social_codes">
           <ul class='social-bookmarks'>
               <li class='facebook'>
                    <a target="_blank" href='https://www.facebook.com/WayPastCurfewBand'>facebook</a>
               </li>
               <li class='instagram'>
                   <a target="_blank" href='https://www.facebook.com/WayPastCurfewBand/photos_stream'>instagram</a></li>
               <li class='youtube'>
                   <a target="_blank" href='http://www.youtube.com/channel/UC7UZXgP_88jCygBurZnKF1g'>youtube</a>
               </li>           
            </ul>		
        </div><!-- END SOCIAL CODES -->
	</div><!-- END HOME TITLE -->
    </div><!--END SECTION TITLE-->
</div>