<div id='profile' class='content-wrapper clear'>
    <div class='heading Shannon'>
        <h2>Shannon</h2>
        <span style="font-size: 20px">"Be true to yourself <br>and don’t let anyone <br>stomp on your dreams"</span>
    </div>
    <div class='container'>
        <div class='info'>
            <p>
                Hi! I'm Shannon. Thanks for stopping by <3 I am 13 yrs old and I'm a freshman at K12 International Academy (That's 9th grade).  
                I am the lead singer for Way Past Curfew. I love to dance as well. I have studies Ballet, Broadway, Hip-Hop, and Jazz. 
I was cast as an elf and penguin at the Base Entertainment Santa Claus the Musical which ran at the Singapore Marina Bay Sands Grand Theater in 2012. 
I had a lead role in the mini-musical “When You are Here” which was performed in several venues in 2010, and I had the lead role in “Buy One Give One”, which had its debut in December 2011.
Christian and I are part of the worship team at the International Baptist Church of Singapore. 
This year "2016" I've decided to focus more on art and graphic desing. I'm looking forward to doing that in my free time. I'm also totally into sports so I try to fit in basketball and tennis whenever I can.

            </p>
        </div>
        <div class='img'>
            <img src="images/shannon.PNG" width='100%' />
        </div>
    </div>
</div>
