<div id='profile' class='content-wrapper clear'>
    <div class='heading Shannon'>
        <h2>Shannon</h2>
        <span>"Be true to yourself and don’t let anyone stump on your dreams"</span>
    </div>
    <div class='container'>
        <div class='info'>
            <p>
                Shannon is 11 yrs old and attends 8th grade (Singapore Secondary 2) at K12 International School.  Shannon is the lead singer for Way Past Curfew! Shannon loves to dance as well. She like atll types of dance and has studied  Ballet, Broadway, Hip-Hop and Jazz. 
Shannon was cast to be an elf and penguin at the Base Entertainment Santa Claus the Musical which ran at the Marina Bay Sands Grand Theater in 2012. 
Shannon had a lead role in the mini-musical “When You are Here” which was performed in several venues in 2010, and she has the lead role in “Buy One Give One”, which had its debut in December 2011.
Shannon and  Christian lead worship at the International Baptist Church of Singapore.

            </p>
        </div>
        <div class='img'>
            <img src="images/shannon.PNG" width='100%' />
        </div>
    </div>
</div>
